BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
AlignOperands: Align
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
InsertBraces: true
